/* Vídeo de fundo */
#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  overflow: auto; /* ← aqui */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


.container {
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Caixa do versículo */
.quote-box {
    max-width: 90%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5); /* mais escuro para contraste */
    border-left: 6px solid #9a9861;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 1s ease-in-out;
   
}

 h1 {
    font-family: 'Great Vibes', cursive;
    background-color: rgba(0, 0, 0, 0.5); /* mais escuro para contraste */
    border-left: 6px solid #9a9861;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 1s ease-in-out;
    }

/* Estilo para o versículo do dia (DailyVerses.net) */
.dailyVerses {
    font-family: 'Alex Brush', cursive;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #fff;
    transition: opacity 1s ease-in-out;
}

.dailyVerses a {
    color: #ffd700;
    text-decoration: none;
}

.dailyVerses a:hover {
    text-decoration: underline;
}

/* Relógio */
.clock {
    margin-top: 50px;
    font-size: 2.8rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Rodapé de afiliados */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    z-index: 10;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

footer img {
  width: 80px;
  height: auto;
  margin: 5px;
  border-radius: 6px;
}

footer .product span {
  color: #000; /* cor preta */
  text-shadow: 1px 1px 3px rgba(128, 128, 128, 0.6); /* sombra cinza suave */
  font-weight: 500;
  margin-bottom: 5px;
}

/* Responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    .quote-box {
        font-size: 1.2rem;
        padding: 15px;
    }

    #dailyVersesWrapper {
        font-size: 1.5rem;
    }

    .clock {
        font-size: 2rem;
    }

    footer {
        flex-direction: column;
        gap: 10px;
    }
}
